
<!DOCTYPE html>
<style>
    .rtl {
        direction: rtl;
        margin-right: 15px;
        text-align: right;
    }

    .marginTop {
        margin-top: 15px;
    }

    .marginRight {
        margin-right: 15px;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width , initial-scale=1"/>
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="ClientSide/Css/home.css">
    <link rel="stylesheet" href="ClientSide/Css/searchCourses.css">
    <link rel="stylesheet" href="ClientSide/Css/constraints.css">
    <link rel="stylesheet" href="ClientSide/Css/jquery-ui-slider-pips.css">
    <!--  my font: Lato -->
    <link rel='stylesheet' type='text/css' href='https://fonts.google.com/specimen/Lato'>


    <!-- plus a jQuery UI theme -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />

    <environment names="Development">
        <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.css" />
    </environment>

    <environment names="Staging, Production">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/node_modules/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute" />
    </environment>

</head>
<body>
        <div>
            @RenderBody()
        </div>

    <!--Scripts-->
    <environment names="Development">
        <!-- jQuery library -->
        <script src="~/node_modules/jquery/dist/jquery.js"></script>

        <!-- jQuery-ui library -->
        <script src="~/node_modules/jquery-ui-bundle.1.12.1/jquery-ui.js"></script>

        <!-- jQuery-ui-slider-pips library -->
        <script src="~/node_modules/jquery-ui-bundle.1.12.1/jquery-ui-slider-pips.js"></script>

        <!-- jQuery-dataTables library -->
        <script src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>

        <!-- Bootstrap library -->
        <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>

        <!-- Data tables styles? library -->
        <script src="~/node_modules/datatables.net/js/dataTables.bootstrap.js"></script>
    </environment>

    <environment names="Staging, Production">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
                asp-fallback-src="~/node_modules/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>

        <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"
                asp-fallback-src="~/node_modules/jquery-ui-bundle.1.12.1/jquery-ui.min.js"
                asp-fallback-test="window.jQuery.ui">
        </script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                asp-fallback-src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-ui-Slider-Pips/1.11.4/jquery-ui-slider-pips.min.js"
                @*asp-fallback-src="~/node_modules/jquery-ui-bundle.1.12.1/jquery-ui-slider-pips.min.js"
                asp-fallback-test="" *@>
        </script>

        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"
                asp-fallback-src="~/node_modules/node_modules/datatables.net/js/jquery.dataTables.js"
                asp-fallback-test="jQuery.fn.dataTable">
        </script>

        <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js">
        </script>


    </environment>

    <script type="text/javascript" src="ClientSide/Scripts/searchCoursesHandler.js"></script>
    <script type="text/javascript" src="ClientSide/Scripts/constraintsHandler.js"></script>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {

            showSlides(slideIndex += n);
        }

        function currentSlide(n) {

            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i, j;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");

            }
            if (slideIndex === 3) {
                var IsClashes = false;
                if ($('#flatCheckBox').is(":checked")) {
                    // it is checked
                    IsClashes = true;

                }

                var freeD = $('#freeDays').slider("option", "value");
                var maxG = $('#maxGap').slider("option", "value");


                //var idList = JSON.stringify(selectedCoursesList);
                $.post("Home/PostReDirectGetExample",
                    {
                        ids: selectedCoursesList,
                        clashes: IsClashes,
                        freeDays: freeD,
                        maxGap: maxG
                    },
                    function (data, status) {
                        $data = $.parseJSON(data);

                        $.each($data, function (i, item) {
                            $c = "";
                            $c += "<tr><td style='width: 16.66666667%; border-color: #222222; border:solid; border-width: 1px;'>" + item.startHour + "</td>";
                            $c += "<td style='width: 16.66666667%; border-color: #222222; border:solid; border-width: 1px;'>" + item.sunday + "</td>";
                            $c += "<td style='width: 16.66666667%; border-color: #222222; border:solid; border-width: 1px;'>" + item.monday + "</td>";
                            $c += "<td style='width: 16.66666667%; border-color: #222222; border:solid; border-width: 1px;'>" + item.tuesday + "</td>";
                            $c += "<td style='width: 16.66666667%; border-color: #222222; border:solid; border-width: 1px;'>" + item.wednesday + "</td>";
                            $c += "<td style='width: 16.66666667%; border-color: #222222; border:solid; border-width: 1px;'>" + item.thursday + "</td>";
                            $c += "<td style='width: 16.66666667%; border-color: #222222; border:solid; border-width: 1px;'>" + item.friday + "</td></tr>";

                            $('#timetablesTbl').find('tbody').append($c);

                        });

                    });

                /* OPTIONAL FOR PAGINATION EITHER THAT OR BOOTSTAP PAGER */
                /*
                $('#timetablesTbl').dataTable( {
                    "pageLength": 16,
                    "scrollX": true,
                    "pagingType": "simple_numbers"
                } );

                */

            }


            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>

</body>
</html>
