<!DOCTYPE html>

<html style="background-color:#383747">
<head>
    <title>@ViewBag.Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/ClientSide/Css/jquery-ui-slider-pips.css">
    <!--  my font: Lato -->
    <link rel='stylesheet' type='text/css' href='https://fonts.google.com/specimen/Lato'>
    <!-- plus a jQuery UI theme -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css" />

    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />*@

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/ClientSide/Css/searchCourses.css">
    <link rel="stylesheet" href="~/ClientSide/Css/constraints.css">
    <link rel="stylesheet" href="~/ClientSide/Css/main-window-stylesheet.css">

</head>
<body style="background-color:#ffd85e; border-radius:50px;">
    <div class="container-fluid max-height">
        <div class="row max-height">

            <!-- Left Arrow Navigation -->
            <div class="col-sm-1 hidden-xs gly max-height">
                <span id="prev" class="glyphicon  glyphicon-chevron-left  vertical-align" onclick="prevSlide()"></span>
            </div>

            <!-- Middle Area -->
            <div class="col-sm-10 max-height">

                <!-- Logo -->
                <div class="row" style="height: 10%;">
                    <img class="max-height center-block " src="~/ClientSide/Images/decore/logo.png">
                </div>

                <!-- Content Area -->
                <div class="row" style="height: 80%; overflow-y: auto; overflow-x: hidden; position: relative;">
                    @RenderBody()
                </div>

                <!-- Main Area Footer -->
                <div class="row" style="height: 10%;">
                    <!-- Buttom Navigation Buttons -->
                    <div id="slidesButtons" class="btn-group-lg btn-group-justified max-height">
                        <a class="btn btn-primary slide-highlighted" onclick="setCurrentSlide(0)"><b>Select Courses</b></a>
                        <a class="btn btn-primary" onclick="setCurrentSlide(1)"><b>Choose Constraints</b></a>
                        <a class="btn btn-primary" onclick="setCurrentSlide(2)"><b>Generate Timetables</b></a>
                    </div>
                </div>
            </div>

            <!-- Right Arrow Navigation -->
            <div class="col-sm-1 hidden-xs gly max-height">
                <span id="next" class="glyphicon  glyphicon-chevron-right  vertical-align" onclick="nextSlide()"></span>
            </div>
        </div>
    </div>


    <!--Scripts-->
    <environment names="Development">
        <!-- jQuery library -->
        <script src="~/node_modules/jquery/dist/jquery.js"></script>

        <!-- jQuery-ui library -->
        <script src="~/node_modules/jquery-ui-bundle.1.12.1/jquery-ui.js"></script>

        <!-- jQuery-ui-slider-pips library -->
        <script src="~/ClientSide/Scripts/jquery-ui-slider-pips.js"></script>

        <!-- Bootstrap library -->
        <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>
        
        <script src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>

    </environment>

    <environment names="Staging, Production">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
                asp-fallback-src="~/node_modules/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>

        <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"
                asp-fallback-src="~/node_modules/jquery-ui-bundle.1.12.1/jquery-ui.min.js"
                asp-fallback-test="window.jQuery.ui">
        </script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                asp-fallback-src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-ui-Slider-Pips/1.11.4/jquery-ui-slider-pips.min.js"
                asp-fallback-src="~/ClientSide/Scripts/jquery-ui-slider-pips.min.js">
        </script>

        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"
                asp-fallback-src="~/node_modules/node_modules/datatables.net/js/jquery.dataTables.js"
                asp-fallback-test="jQuery.fn.dataTable">
        </script>

    </environment>

    <script type="text/javascript" src="~/ClientSide/Scripts/searchCoursesHandler.js"></script>
    <script type="text/javascript" src="~/ClientSide/Scripts/constraintsHandler.js"></script>
    <script type="text/javascript" src="~/ClientSide/Scripts/timetables-pagination.js"></script>
    <script type="text/javascript" src="~/ClientSide/Scripts/slides-handler.js"></script>
</body>
</html>