<style>
    html, body, .max-height {
        height: 100%;
    }

    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .vertical-align, #next, #prev{
        position: relative;
        top: 50%;
    }

    .rtl {
        direction: rtl;
        text-align: right;
    }

    .gly {
        vertical-align: middle;
        text-align: center;
        font-size: 50px;
    }

    .table-responsive {
        height: 180px;
    }

    .table-bordered, .table-bordered td, .table-bordered th{
        border-color: #222222 !important;
    }

    .table-bordered th {
        text-align: center;
    }

    .timetables-container {
        background-color:rgb(220,228,206);
    }

</style>

<!DOCTYPE html>

<html style="background-color:#383747">
<head>
    <title>On And Mey</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/ClientSide/Css/jquery-ui-slider-pips.css">
    <!--  my font: Lato -->
    <link rel='stylesheet' type='text/css' href='https://fonts.google.com/specimen/Lato'>
    <!-- plus a jQuery UI theme -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="~/ClientSide/Css/searchCourses.css">
    <link rel="stylesheet" href="~/ClientSide/Css/constraints.css">
    @*<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">*@

</head>
<body style="background-color:#ffd85e; border-radius:50px;">
    <div class="container-fluid max-height">
        <div class="row max-height">

            <!-- Left Arrow Navigation -->
            <div class="col-sm-1 hidden-xs gly max-height">
                <span id="prev" class="glyphicon  glyphicon-chevron-left  vertical-align" onclick="plusSlides(-1)"></span>
            </div>

            <!-- Middle Area -->
            <div class="col-sm-10 max-height">

                <!-- Logo -->
                <div class="row" style="height: 10%;">
                    <img class="max-height center-block " src="~/ClientSide/Images/decore/logo.png">
                </div>

                <!-- Content Area -->
                <div class="row" style="height: 80%; overflow-y: auto; overflow-x: hidden" >
                    @RenderBody()
                </div>

                <!-- Main Area Footer -->
                <div class="row" style="height: 10%;">
                    <!-- Buttom Navigation Buttons -->
                    <div class="btn-group-lg btn-group-justified max-height">
                        <a class="btn btn-primary" onclick="currentSlide(1)">Select Courses</a>
                        <a class="btn btn-primary" onclick="currentSlide(2)">Choose Constraints</a>
                        <a class="btn btn-primary" onclick="currentSlide(3)">Generate Timetables</a>
                    </div>
                </div>
            </div>

            <!-- Right Arrow Navigation -->
            <div class="col-sm-1 hidden-xs gly max-height">
                <span id="next" class="glyphicon  glyphicon-chevron-right  vertical-align" onclick="plusSlides(1)"></span>
            </div>
        </div>
    </div>


    <!--Scripts-->
    <environment names="Development">
        <!-- jQuery library -->
        <script src="~/node_modules/jquery/dist/jquery.js"></script>

        <!-- jQuery-ui library -->
        <script src="~/node_modules/jquery-ui-bundle.1.12.1/jquery-ui.js"></script>

        <!-- jQuery-ui-slider-pips library -->
        <script src="ClientSide/Scripts/jquery-ui-slider-pips.js"></script>

        <!-- jQuery-dataTables library -->
        <script src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>

        <!-- Bootstrap library -->
        <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>

        <!-- Data tables styles? library -->
        <script src="ClientSide/Scripts/dataTables.bootstrap.js"></script>
    </environment>

    <environment names="Staging, Production">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
                asp-fallback-src="~/node_modules/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>

        <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"
                asp-fallback-src="~/node_modules/jquery-ui-bundle.1.12.1/jquery-ui.min.js"
                asp-fallback-test="window.jQuery.ui">
        </script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                asp-fallback-src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-ui-Slider-Pips/1.11.4/jquery-ui-slider-pips.min.js"
                asp-fallback-src="ClientSide/Scripts/jquery-ui-slider-pips.min.js">
        </script>

        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"
                asp-fallback-src="~/node_modules/node_modules/datatables.net/js/jquery.dataTables.js"
                asp-fallback-test="jQuery.fn.dataTable">
        </script>

        <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"
                asp-fallback-src="ClientSide/Scripts/dataTables.bootstrap.min.js">
        </script>


    </environment>
    <script type="text/javascript" src="ClientSide/Scripts/searchCoursesHandler.js"></script>
    <script type="text/javascript" src="ClientSide/Scripts/constraintsHandler.js"></script>

<script>

    /*****************pagination***************************/
    $.fn.pageMe = function (opts) {
        var $this = this,
            defaults = {
                perPage: 14,
                showPrevNext: false,
                hidePageNumbers: false
            },
            settings = $.extend(defaults, opts);

        var listElement = $this;
        var perPage = settings.perPage;
        var children = listElement["0"].children[1].children;
        var pager = $('.pager');

        if (typeof settings.childSelector != "undefined") {
            children = listElement.find(settings.childSelector);
        }

        if (typeof settings.pagerSelector != "undefined") {
            pager = $(settings.pagerSelector);
        }

        var numItems = children.length;
        var numPages = Math.ceil(numItems / perPage);

        pager.data("curr", 0);

        if (settings.showPrevNext) {
            $('<li><a href="#" class="prev_link">«</a></li>').appendTo(pager);
        }

        var curr = 0;
        while (numPages > curr && (settings.hidePageNumbers == false)) {
            $('<li><a href="#" class="page_link">' + (curr + 1) + '</a></li>').appendTo(pager);
            curr++;
        }

        if (settings.showPrevNext) {
            $('<li><a href="#" class="next_link">»</a></li>').appendTo(pager);
        }

        pager.find('.page_link:first').addClass('active');
        pager.find('.prev_link').hide();
        if (numPages <= 1) {
            pager.find('.next_link').hide();
        }
        pager.children().eq(1).addClass("active");

        $(children).hide();
        var tempp = $(children).slice(0, perPage); 
        $(tempp).show();

        pager.find('li .page_link').click(function () {
            var clickedPage = $(this).html().valueOf() - 1;
            goTo(clickedPage, perPage);
            return false;
        });
        pager.find('li .prev_link').click(function () {
            previous();
            return false;
        });
        pager.find('li .next_link').click(function () {
            next();
            return false;
        });

        function previous() {
            var goToPage = parseInt(pager.data("curr")) - 1;
            goTo(goToPage);
        }

        function next() {
            goToPage = parseInt(pager.data("curr")) + 1;
            goTo(goToPage);
        }

        function goTo(page) {
            var startAt = page * perPage,
                endOn = startAt + perPage;

            $(children).hide();
            var mtemp = $(children).slice(startAt, endOn);
            $(mtemp).show();
               
                
            if (page >= 1) {
                pager.find('.prev_link').show();
            }
            else {
                pager.find('.prev_link').hide();
            }

            if (page < (numPages - 1)) {
                pager.find('.next_link').show();
            }
            else {
                pager.find('.next_link').hide();
            }

            pager.data("curr", page);
            pager.children().removeClass("active");
            pager.children().eq(page + 1).addClass("active");

        }
    };


    /******************slides handler************************/
    var slideIndex = 1;
    var calculatingLabelInterval = null;
    showSlides(slideIndex);

    function plusSlides(n) {

        showSlides(slideIndex += n);
    }

    function currentSlide(n) {

        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i, j;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            //   dots[i].className = dots[i].className.replace("active", "");

        }
        if (slideIndex === 3) {
            $("#noResultsLbl").hide();
            var IsClashes = false;
            if ($('#flatCheckBox').is(":checked")) {
                // it is checked
                IsClashes = true;

            }

            var freeD = $('#freeDays').slider("option", "value");
            var maxG = $('#maxGap').slider("option", "value");


            $("#timetablesTbl > tbody").empty();
            $('#myPager').empty();
            var calculatingObj = $('#calculatingLbl');
            calculatingObj.text("Calculating");
            if (calculatingLabelInterval) {
                clearInterval(calculatingLabelInterval);
            }

            var i = 1;
            calculatingLabelInterval = setInterval(function () {
                var prev = calculatingObj.text();
                var textToAdd = ".";
                if ((i++ % 5) === 0 ) {
                    textToAdd += "<br />";
                }
                calculatingObj.html(prev + textToAdd);
            }, 175);
            calculatingObj.show();

            //var idList = JSON.stringify(selectedCoursesList);
            $.post("Home/PostReDirectGetExample",
                {
                    ids: selectedCoursesList,
                    clashes: IsClashes,
                    freeDays: freeD,
                    maxGap: maxG
                },
                function (data, status) {

                    clearInterval(calculatingLabelInterval);
                    calculatingLabelInterval = null;
                    calculatingObj.hide();

                    if (!data || data.length === 0) {
                        $("#noResultsLbl").show();
                        return;
                    }

                    $.each(data, function (j, timetableJSON)
                    {
                        $timetable = $.parseJSON(timetableJSON);


                        $.each($timetable,
                            function (i, item)
                            {
                                $c = "";
                                $c +=
                                    "<tr><td style='direction: rtl;'>" +
                                    item.startHour +
                                    "</td>";
                                $c +=
                                    "<td style=' direction: rtl;'>" +
                                    item.sunday +
                                    "</td>";
                                $c +=
                                    "<td style='direction: rtl; '>" +
                                    item.monday +
                                    "</td>";
                                $c +=
                                    "<td style=' direction: rtl; '>" +
                                    item.tuesday +
                                    "</td>";
                                $c +=
                                    "<td style=' direction: rtl;'>" +
                                    item.wednesday +
                                    "</td>";
                                $c +=
                                    "<td style='direction: rtl;'>" +
                                    item.thursday +
                                    "</td>";
                                $c +=
                                    "<td style='direction: rtl;'>" +
                                    item.friday +
                                    "</td></tr>";

                                $('#timetablesTbl').find('tbody').append($c);

                            });//end of inner $each 

                    });// end of outer $each 
                    $('#timetablesTbl').pageMe({ pagerSelector: '#myPager', showPrevNext: true, hidePageNumbers: false, perPage: 14 });
              
                }); //end of post

  
    
        }


        slides[slideIndex - 1].style.display = "block";
        //   dots[slideIndex - 1].className += " active";
    }
</script>
</body>
</html>