<!-- ------------------- CONSTRAINTS --------------------- -->
<div class="mySlides" style="height: 100%">
    <div id="slide2" style="height: 100%">
        <br>
        <br>
        <div class="row" style="height: 20%">
            <div class="col-xs-8 col-md-8 col-lg-8 col-xs-offset-1 col-md-offset-1 col-lg-offset-1" style="height: 100%">
                <img src="ClientSide/Images/decore/clashes.png" class="img-responsive"
                     style="display: inline-block; height: 90%">
                <span class="flatCheckBox" style="display: inline-block;  ">
                    <input type="checkbox" value="None" id="flatCheckBox" name="check"  />
                    <label for="flatCheckBox"></label>
                </span>

            </div>

        </div>
        <div class="row" style="height: 20%">
            <div class="col-xs-12" style="height: 100%">
                <div class="row" style="height: 100%">
                    <div class="col-xs-6 col-md-6 col-lg-6 col-xs-offset-1 col-md-offset-1 col-lg-offset-1 " style="height: 100%">
                        <img src="ClientSide/Images/decore/freeDays.png" class="img-responsive" style="height: 100%">
                    </div>
                    <div class="col-xs-3 col-md-3 col-lg-3 " style="position: relative; top: 40%" >
                        <div class="slider" id="freeDays"></div>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height: 25%">
            <div class="col-xs-12" style="height: 100%">
                <div class="row" style="height: 100%">
                    <div class="col-xs-6 col-md-6 col-lg-6 col-xs-offset-1 col-md-offset-1 col-lg-offset-1 " style="height: 100%">
                        <img src="ClientSide/Images/decore/maxGap.png" class="img-responsive" style="height: 100%">
                    </div>
                    <div class="col-xs-3 col-md-3 col-lg-3 " style="position: relative; top: 40%" >
                        <div class="slider" id="maxGap"></div>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

