@model HomePageViewModel

@{
    ViewBag.Title = "Braude Timetabler";
}
<div class="slideshow-container" style="height: 100%">

    <!-- ------------------- SEARCH COURSES --------------------- -->
    <div class="mySlides" style="height: 100%">
        <div id="slide1" style="height: 100%">

            <div class="row" style="height: 100%">
                <div class="col-xs-6 col-xs-offset-1" style="height: 100%">
                    <!-- left side -->
                    <div class="row" style="height: 100%">
                        <div class="col-xs-10" style="height: 100%">
                            <div class="row" id="top" style="height: 25%">
                                <div class="col-xs-12 " style="height: 100%">
                                    <div class="row" style="height: 100%">
                                        <div class="col-xs-9 col-xs-offset-1 " style="height: 100%">
                                            <img src="~/ClientSide/Images/decore/search.png" class="img-responsive ">
                                        </div>
                                    </div>
                                    <div class="row" id="inputBoxes" style="height: 30%; position: relative; top: -40%;">
                                        <div class="col-xs-12" style="height: 100%">
                                            <div class="input-group stylish-input-group" style="height: 100%">
                                                <input class="form-control" id="textInput" placeholder="course Name \ Id" style="height: 100%">
                                                <span class="input-group-addon" style="height: 100%">
                                                    <button type="submit">
                                                        <span class="glyphicon glyphicon-search" style="height: 100%"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="bottom" style="height: 75%">
                                <div class="col-xs-12 Left-bottom-container max-height">
                                    <div class="table-responsive" style="height: inherit; overflow-y: scroll;">
                                        <table class="table-condensed" id="coursesDataBaseTbl" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th class="tbl-header rtl text-center">Course Id</th>
                                                    <th class="tbl-header rtl text-center ">Course Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var course in Model.AllCourses)
                                                {
                                                    <tr class="tbl-row rtl">
                                                        <td style="width: 25%;" id="tableCourseId">@course.Id</td>
                                                        <td style="width: 75%">
                                                            <a asp-action="CourseDetails"
                                                               asp-controller="Home"
                                                               asp-route-courseId="@course.Id"
                                                               target="_blank"
                                                               title="פרטי קבוצות הקורס">
                                                                <span class="glyphicon glyphicon-info-sign"
                                                                      style="font-size: 15px;"></span></a> @course.Name
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 col-height">
                            <input type="image" id="selectCourseBtn" src="~/ClientSide/Images/buttons/right_double_arrow.png"
                                   class="img-responsive right-dbl-arrw-btn " style="display: none; position: relative; top: 300px;">
                            <input type="image" id="removeCourseBtn" src="~/ClientSide/Images/buttons/left_double_arrow.png"
                                   class="img-responsive right-dbl-arrw-btn" style="display: none; position: relative; top: 350px;">
                        </div>
                    </div>
                </div>
                <div class="col-xs-5 col-md-5 " style="height: 100%">
                    <!-- right side -->
                    <div class="row" style="height: 20%">
                        <div class="col-xs-9 col-xs-offset-1 ">
                            <img src="~/ClientSide/Images/decore/selected.png" class="img-responsive" style="margin-bottom: 3%">
                        </div>
                    </div>
                    <div class="row" style="height: 80%">
                        <div class="col-xs-10 Right-bottom-container" style="height: 100%">
                            <div class="table-responsive" style="overflow-y: scroll; height: inherit">
                                <table class="table" id="slctdTbl">
                                    <thead>
                                        <tr>
                                            <th class="tbl-header rtl text-center">Course Id</th>
                                            <th class="tbl-header rtl text-center">Course Name</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------- CONSTRAINTS --------------------- -->
    <div class="mySlides" style="display: none">
        <div class="container">

            <!--Allow Clashes? -->
            <label style="font-size: 50px">Allow Clashes <input type="checkbox" value="" id="flatCheckBox" style="height: 30px; width: 30px;" name="check" checked></label>
            <br />
            <br />
            <br />
            <br />
            <!--Max Gap -->
            <div class="row row-eq-height">

                <div class="col-xs-5">
                    <label style="font-size: 50px" class="constraint-label">Max Gap:</label>
                </div>
                <div class="col-xs-6">
                    <div class="slider" style="position: relative; top: 40%;" id="maxGap">
                    </div>

                </div>
            </div>
            <br />
            <br />
            <br />
            <!-- Min Free Days -->
            <div class="row row-eq-height">

                <div class="col-xs-5">
                    <label style="font-size: 50px" class="constraint-label">Min Free Days:</label>
                </div>
                <div class="col-xs-6">
                    <div class="slider" style="position: relative; top:40%;" id="freeDays">
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- ------------------ TIMETABLES ----------------- -->
    <div class="mySlides" style="display: none">

        <div class="container-fluid" id="timetablesContainer">
                <table id="timetablesTbl" class="table table-striped table-bordered table-condensed rtl" style="width: 100%">
                    <thead>
                    <tr>
                        <th class="tbl-header">שעות</th>
                        <th class="tbl-header">יום א'</th>
                        <th class="tbl-header">יום ב'</th>
                        <th class="tbl-header">יום ג'</th>
                        <th class="tbl-header">יום ד'</th>
                        <th class="tbl-header">יום ה'</th>
                        <th class="tbl-header">יום ו'</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
        </div>
        <div class="container-fluid" style="position: absolute; top: 50%; transform: translateY(-50%) translateX(-50%); left: 50%;">
            <label class="label label-lg label-info label-bigg" id="calculatingLbl"></label>
            <label class="label label-lg label-warning label-bigg center-block"id="errorMessageLbl"></label>
            <label class="label label-lg label-info label-bigg"id="ratingLbl"></label>
        </div>
            
        </div>
</div>
