

#constraint1, .constraint-label{
    font-size: 50px;
}

.ui-slider-handle {
    border: 10px solid  rgb(72,189,161) !important;
}
                            
.ui-slider-pip {
    top: 20px !important;
    color: blue !important;
}
.ui-slider-label {
    top: 10px !important;
    color: black;
    font-size: 23px;
}

.ui-slider-pip-initial {
    font-weight: normal !important;
}

.ui-slider-pip-selected {
    font-weight: bold !important;
}

